<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SystemCallService.Properties.SystemCallServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SystemCallService.Properties.SystemCallServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SystemCallService.Properties.SystemCallServiceSettings>
            <setting name="HostIdentifier" serializeAs="String">
                <value>None</value>
            </setting>
        </SystemCallService.Properties.SystemCallServiceSettings>
    </userSettings>
    <applicationSettings>
        <SystemCallService.Properties.SystemCallServiceSettings>
            <setting name="DataDirectory" serializeAs="String">
                <value>SystemCallServiceData</value>
            </setting>
            <setting name="DebugLogFilename" serializeAs="String">
                <value>debug_log.txt</value>
            </setting>
            <setting name="ProcessTableStructure" serializeAs="String">
                <value>Pid int, Start DATETIME, StartRelativeMSec DOUBLE, StopRelativeMSec DOUBLE, CommandLine TEXT, ImageFileName TEXT, ParentID int, Guid TEXT PRIMARY KEY, ProcessKey INTEGER, Md5 TEXT</value>
            </setting>
            <setting name="ThreadTableStructure" serializeAs="String">
                <value>Pid int, PidStartRelativeMSec DOUBLE, Tid int, Start DateTime, StartRelativeMSec DOUBLE, StopRelativeMSec DOUBLE, Guid TEXT PRIMARY KEY, ProcessGuid TEXT </value>
            </setting>
            <setting name="SystemInfoTableStructure" serializeAs="String">
                <value>NtoskrnlVersion TEXT, NtoskrnlMD5 TEXT, Cores int, Hostname TEXT, HostSampling DOUBLE, ProcessSampling DOUBLE, ThreadSampling DOUBLE, HostTrace INT, ProcessTrace INT, ThreadTrace INT</value>
            </setting>
            <setting name="Verbosity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoResetMs" serializeAs="String">
                <value>3600000</value>
            </setting>
            <setting name="SymbolSubfolder" serializeAs="String">
                <value>symbols</value>
            </setting>
            <setting name="NtSensorList" serializeAs="String">
                <value>ntsensors.txt</value>
            </setting>
            <setting name="CommitInterval" serializeAs="String">
                <value>120000</value>
            </setting>
            <setting name="ThreadDeletionDelay" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="ProcessDeletionDelay" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="MinBackoff" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TracePerProcess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxTraceSyscalls" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="AnonymizeHostname" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrubCommandLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TraceHostLevel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TracePerThread" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProfileCode" serializeAs="String">
                <value>False</value>
            </setting>
        </SystemCallService.Properties.SystemCallServiceSettings>
    </applicationSettings>
</configuration>